extends emailTemplate

block content
  p Hi #{userName},

  p We received a request to reset your password for Bodegas Tours account. If you did not initiate this request, please ignore this email.

  p To reset your password, click on the link below:

  p
    a(href=`${url}`) Reset Password

  p If the link doesn't work, you can copy and paste the following URL into your browser:

  p #{url}

  p This link will expire in 10 minutes for security reasons.

  p If you need further assistance or have any questions, please don't hesitate to contact us at
  a(href='mailto:info@bodegastours.com') info@bodegastours.com

  p Thanks for choosing Bodegas Tours!

  p Cheers,
  p The Bodegas Tours Team
