.heroSection {
  background-color: var(--color-grey-100);
  padding: 4.8rem 0 9.6rem 0;
}

.hero {
  max-width: 130rem;
  margin: 0 auto;
  padding: 0 3.2rem;
  min-height: 55rem;

  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 9.6rem;
  align-items: center;

  & h1 {
    text-wrap: balance;
  }

  & .heroDescription {
    font-size: 2rem;
    line-height: 1.6;
    margin-bottom: 4.8rem;
    overflow-wrap: break-word;
  }

  & .heroImages {
    position: relative;
    height: 100%;

    display: flex;
    align-items: center;

    & img {
      position: absolute;
    }

    & .heroImg1 {
      width: 90%;
      right: -5rem;
      top: 10%;
    }

    & .heroImg2 {
      width: 45%;
      z-index: 2;
      left: -5rem;
      top: 25%;
    }
  }
}

.heroBtn {
  font-size: 2rem;
  padding: 1.6rem 3.2rem;
  color: inherit;
  margin-right: 3rem;
}

.explore {
  border: none;
  background: none;
  text-decoration: none;
}

.explore span {
  padding-bottom: 7px;
  letter-spacing: 4px;
  font-size: 1.6rem;
  padding-right: 15px;
  text-transform: uppercase;
}

.explore svg {
  transform: translateX(-8px);
  transition: all 0.3s ease;
}

.explore:hover svg {
  transform: translateX(0);
}

.explore:active svg {
  transform: scale(0.9);
}

.text {
  position: relative;
  color: black;
  padding-bottom: 20px;
}

.text:after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #000000;
  transform-origin: bottom right;
  transition: transform 0.3s ease-out;
}

.explore:hover .text:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}
