.figure {
  display: flex;
  align-items: flex-end;
  justify-content: center;

  & svg {
    height: 50px;
    width: 50px;
  }

  & .text {
    display: flex;
    flex-direction: column;
    text-transform: uppercase;

    & span {
      letter-spacing: 3px;
      font-size: 1.8rem;
    }
  }
}
