.figure {
  display: flex;
  align-items: center;

  & svg {
    height: 34px;
    width: 34px;
  }

  & .text {
    display: flex;
    flex-direction: column;

    & span {
      text-decoration: none;
    }
  }
}
