.figure {
  display: flex;
  align-items: center;

  & svg {
    height: 50px;
    width: 50px;
  }

  & .text {
    display: flex;
    flex-direction: column;

    & span {
      text-decoration: none;
      font-size: 2rem;
    }
  }
}
